* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

header {
  background-color: navy;
}

.nav-link {
  color: white;
}

.active {
  background-color: aqua;
  border-radius: 20px;
  color: black;
}

.h {
  height: 600px;
}

.text-overflow {
  overflow: auto;
}

.card-body {
  position: relative;

  .btn {
    position: absolute;
    top: 5px;
    right: 10px;

  }
}